[Unit]
Description=Install Puu k3s add-ons
Requires=k3s.service
After=k3s.service
ConditionKernelCommandLine=!puu.live

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/puu-os/install-k3s-addons

[Install]
WantedBy=multi-user.target
