# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) Opinsys Oy 2026

image efi-part.vfat {
	vfat {
		extraargs = "-i @EFI_VOLUME_ID@"
		file EFI {
			image = "efi-part/EFI"
		}

		file loader {
			image = "efi-part/loader"
		}
	}

	size = 256M
	temporary = true
}

image live.ext4 {
	ext4 {
		use-mke2fs = true
		features = "^has_journal,^metadata_csum,^metadata_csum_seed"
		extraargs = "-U @LIVE_UUID@ -E hash_seed=@LIVE_HASH_SEED@"
	}

	mountpoint = "/live"
	# Retain 2% partition headroom.
	size = 102%
	temporary = true
}

image payload.ext4 {
	ext4 {
		use-mke2fs = true
		features = "^has_journal,^metadata_csum,^metadata_csum_seed"
		extraargs = "-U @PAYLOAD_UUID@ -E hash_seed=@PAYLOAD_HASH_SEED@"
	}

	mountpoint = "/payload"
	# Retain 2% partition headroom.
	size = 102%
	temporary = true
}

image @OUTPUT_IMG@ {
	hdimage {
		partition-table-type = "gpt"
		disk-uuid = "@DISK_UUID@"
	}

	partition boot {
		image = "efi-part.vfat"
		partition-type-uuid = U
		partition-uuid = "@BOOT_PARTUUID@"
		offset = 32K
		bootable = true
		read-only = true
	}

	partition live {
		partition-type-uuid = L
		partition-uuid = "@LIVE_PARTUUID@"
		image = "live.ext4"
		read-only = true
	}

	partition payload {
		partition-type-uuid = L
		partition-uuid = "@PAYLOAD_PARTUUID@"
		image = "payload.ext4"
		read-only = true
	}
}
