# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) Opinsys Oy 2026

[Unit]
Description=Periodic system Flatpak reconciliation
ConditionKernelCommandLine=!puu.live

[Timer]
OnCalendar=Mon *-*-* 00:00:00
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
